/**
 * FONTS
 */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.woff2') format('woff2'),
         url('../fonts/opensans-italic.woff') format('woff'),
         url('../fonts/opensans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic.woff') format('woff'),
         url('../fonts/opensans-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic.woff') format('woff'),
         url('../fonts/opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/**
 * RESET
 */
/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;/* + */
}
body {
  font: normal normal 1em/1 "open_sansregular", sans-serif;
  background-color: #E0FFD3;
  -webkit-tap-highlight-color: transparent;/* + */
  -webkit-font-smoothing: antialiased;/* + */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 *  1. Общие стили
 */
a {
  display: inline-block;
  text-decoration: underline;
  color: #16635D;
}
a:hover,
a:focus,
a.active {
  text-decoration: none;
  color: #3BB2A7;
}
.ui-page {
	background-color: #E0FFD3;
  color: #16635D;
	/*background: -webkit-radial-gradient(50% 50%, circle closest-corner, #303332, #000);
	background: -moz-radial-gradient(50% 50%, circle closest-corner, #303332, #000);*/
}
#content {
  padding: 0 1em;
}
#header {
  padding-left: 1em;
  padding-right: 1em;
  border: 0;
  color:#3BB2A7;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#header .logo {
  margin: 15px 0; 
  color: #3BB2A7;
  text-align: center;
}
#header .logo img {
  display: inline-block;
}
#header #page-title {
	display: block;
  min-height: 0;
  padding: 1.5em 30px 1.5em 0;
  margin: 0;
  text-align: left;
	font: normal 1.286em/1 open_sansbold;
	color: #3BB2A7;
  text-overflow: inherit;
  overflow: visible;
  white-space: normal;
}
div#header p {
	font: normal 1em open_sansregular;
	color:#3BB2A7;
  margin-top: -1em;
  margin-bottom: 1em;
}
#header nav ul li {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-left:10px;
	float: right;
}
#header nav ul li:last-child{
	margin-left:0;
}
#header .link-filter {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background: url(../img/filter.png) 50% 50% no-repeat;
  font-size: 0;
}
#footer {
  padding: 6px 1em;
  border: 0;
  font-size: 0;
  background-color: #474742;
  color:#fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-bar {
  margin: 1em -1em;
  padding: 0.714em 1em;
  color: #85C9AD;
  font: normal 1em open_sansbold;
  background-color: #16635D;
}
.ui-panel {
  width: 18em;
  background: #E0FFD3;
  z-index: 1003;
}
.ui-panel-dismiss {
  display: block;
  position:fixed;
  top: 0;
  left: 0 !important;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(0,0,0,.4);
  opacity: 0;
  height: 0;
  -webkit-transition: height 1ms ease;
          transition: height 1ms ease;
  -webkit-transition: opacity .4s ease;
          transition: opacity .4s ease;
}
/*.ui-panel-dismiss:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}*/
.ui-panel-dismiss.ui-panel-dismiss-open {
  height: 100%!important;
  opacity: 1;
}
.ui-panel .ui-header {
  border: none;
  border-bottom: 1px solid #85C9AD;
}
.ui-panel .ui-header .ui-title {
  font: normal 1.143em/1 open_sansbold;
}
.ui-panel .ui-footer {
  padding: 1.1em 1em;
  border-top: 1px solid #85C9AD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-panel .ui-footer .copyright {
  color: #999;
}
.ui-panel #menu > li > a {
  border-color: #85C9AD;
  text-decoration: none;
}
.ui-panel #menu > li.ui-first-child > a {
  border-top: none;
}
.ui-panel #menu > li.ui-last-child > a {
  border-bottom: none;
}


/*Футер меню*/
#footer-navbar .ui-btn { padding: 0 !important; line-height: 30px; font-size: 14px; color: #3BB2A7; text-decoration: none;}
/*#footer-navbar .ui-btn:after { width: 40px!important; height: 40px!important; margin-left: -20px !important; background: url(../img/menu.png); box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#footer-navbar #btn-idea:after { background-position: 0 0; }
#footer-navbar #btn-book:after { background-position: -40px 0; }
#footer-navbar #btn-service:after { background-position: -80px 0; }
#footer-navbar #btn-story:after { background-position: -120px 0; }
#footer-navbar #btn-other:after { width: 42px!important; background-position: -160px 0; }
#footer-navbar #btn-idea.ui-btn-active:after { background-position: 0 40px; }
#footer-navbar #btn-book.ui-btn-active:after { background-position: -40px 40px; }
#footer-navbar #btn-service.ui-btn-active:after { background-position: -80px 40px; }
#footer-navbar #btn-story.ui-btn-active:after { background-position: -120px 40px; }
#footer-navbar #btn-other.ui-btn-active:after { background-position: -160px 40px; }*/


/** 
 * 2. Стиль форм
 */
.ui-input-text input,
.ui-input-search input,
textarea.ui-input-text {
  padding: 0.714em 0.857em;
  font: normal 1em open_sansregular;
  background-color: #EBFFF9;
  color: #16635D;
  resize: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-input-text.ui-focus input,
.ui-input-search.ui-focus input,
textarea.ui-input-text.ui-focus {
  -webkit-box-shadow: inset 0 0 0 1px #3BB2A7;
          box-shadow: inset 0 0 0 1px #3BB2A7;
}
.ui-input-text input.error,
.ui-input-search input.error,
textarea.ui-input-text.error {
  -webkit-box-shadow: inset 0 0 0 1px #f20000;
          box-shadow: inset 0 0 0 1px #f20000;
}
.ui-input-text input + label.error,
.ui-input-search input + label.error,
textarea.ui-input-text + label.error {
  display: none !important;
}
.ui-input-text input::-webkit-input-placeholder,
.ui-input-search input::-webkit-input-placeholder,
textarea.ui-input-text::-webkit-input-placeholder {
  color: rgba(22,99,93,.5);
}
.form-item .ui-input-text.ui-input-has-clear input,
.form-item .ui-input-search.ui-input-has-clear input {
  padding-right: 1.8em;
}
.ui-select {
	font: normal 1em open_sansregular;
  background-color: #EBFFF9;
  color: #16635D;
	-webkit-border-radius: 6px;
          border-radius: 6px;
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-select .ui-btn {
  padding: 0.714em 0.857em;
  text-align: left;
  font: inherit;
}
.line-separator {
	display: block;
	width: 100%;
	position: relative;
	margin: 1.143em 0;
	height: 2px;
	background: -moz-linear-gradient(left, #3BB2A7 0%, #feffff 100%);
	background: -webkit-linear-gradient(left, #3BB2A7 0%, #feffff 100%);
	background: linear-gradient(left, #3BB2A7 0%, #feffff 100%);
}
.form-item {
	margin: .7em 0;
}
.form-item > label {
  position: relative;
	margin: 0 0 .5em;
	font: normal 1.143em/1.2 open_sansbold;
	color: #85C9AD;
}
.form-item > label.has-icon {
  padding: 3px 30px 3px 0;
}
.form-item > label > .ui-btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12.5px;
}
.form-item .ui-controlgroup-vertical .ui-input-text {
	margin-bottom: .7em;
}
.form-item .ui-controlgroup-vertical .ui-input-text:last-child {
	margin-bottom: 0;
}


.tabs__caption {
  cursor: pointer;
}
.tabs__caption:before,
.tabs__caption:after {
  display: table; 
  content: ' ';
}
.tabs__caption:after {
  clear: both;
}
.tabs__item {
  float: left;
  width: 50%;
  text-align: center;
  color: #85C9AD;
  border-radius: 6px 6px 0 0;
  background: #606D68;
}
.tabs__item a {
  padding-bottom: 10px;
  line-height: 36px;
  color: #85C9AD;
  text-decoration: none;
}
.tabs__item_active {
  color: #00FFA6; 
  background: #16635D;
}
.tabs__item_active a {
  color: #00FFA6;
}
.tabs__content {
  display: none;
  position: relative;
  top: -10px;
}
.tabs__content_active {
  display: block;
}
.form__field-wrap {
  overflow: hidden;
  width: 100%;
  height: 40px;
  margin-bottom: 10px; 
  padding-right: 50px;
  border-radius: 6px;
  background-color: #ebfff9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__field-wrap:before,
.form__field-wrap:after {
  display: table;
  content: ' ';
}
.form__field-wrap:after {
  clear: both;
}
.form__field-wrap > label {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 -50px 0 0;
}
.form__field-wrap .ui-input-text,
.ui-input-text {
  padding: 0;
  margin: 0;
  border: 0;
}
.form__field-wrap input {
  font-size: 1em;
  width: 100%;
  height: 40px;
  min-height: 0;
  padding: 0 0 0 30px;
  border: none;
  background: none;
}
.form__field-wrap input.form__field_password {
  /*font-size: 2em;*/
}
.form__message-icon-wrap {
  position: relative;
  right: -50px; 
  float: right;
  width: 50px;
  height: 40px;
}
.form__description {
  text-align: center;
  color: #cde5d7;
}
.form__license {
  margin-right: 5px;
}
.form__conf {
  margin-left: 5px;
}
.btn,
.ui-btn-submit,
.ui-input-btn {
  width: 100%;
  padding: 1em;
  margin: .7em 0;
  color: #16635D; 
  border-radius: 6px;
  background: #3BB2A7;
  font: normal 1.143em/1 open_sansbold;
  font-weight: bold;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/** 
 * Стиль иконок (custom)
 */
.ui-btn {
  outline: none;
}
.ui-btn-ybi {
  position: relative;
}
.ui-btn-ybi.ui-btn-icon-notext {
  height: 25px;
  width: 25px;
  padding: 0;
}
.ui-header .ui-controlgroup-horizontal,
.ui-popup .ui-header > .ui-btn-ybi {
  top: 50%;
  right: 1em;
  margin-top: -12.5px;
}
.ui-header .ui-controlgroup-vertical {
  width: 25px;
  top: 50%;
  margin-top: -12.5px;
}
.ui-header .ui-controlgroup-vertical.count-2 {
  margin-top: -28px;
}
.ui-popup .ui-header > .ui-btn-ybi {
  position: absolute;
  right: .7em;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext {
  width: 25px;
  margin-left: .5em;
}
.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn-icon-notext {
  margin-bottom: .5em;
}
.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn-icon-notext.ui-last-child {
  margin-bottom: 0;
}
.ui-btn-ybi.ui-btn-icon-left:after,
.ui-btn-ybi.ui-btn-icon-right:after,
.ui-btn-ybi.ui-btn-icon-top:after,
.ui-btn-ybi.ui-btn-icon-bottom:after,
.ui-btn-ybi.ui-btn-icon-notext:after {
  width: 25px;
  height: 25px;
  margin-left: -12.5px;
  margin-top: -12.5px;
}
.ui-icon-ybi-add:after { background: url(../img/add.png) no-repeat; }
.ui-icon-ybi-cancel:after { background: url(../img/cancel.png) no-repeat; }
.ui-icon-ybi-edit:after { background: url(../img/edit.png) no-repeat; }
.ui-icon-ybi-back:after { background: url(../img/back.png) no-repeat; }
.ui-icon-ybi-forward:after { background: url(../img/forward.png) no-repeat; }
.ui-icon-ybi-filter:after { background: url(../img/filter.png) no-repeat; }
.ui-icon-ybi-confirm:after { background: url(../img/confirm.png) no-repeat; }
.ui-icon-delete:after { background: url(../img/delete.png) no-repeat; }
.ui-icon-ybi-delete:after { background: url(../img/delete.png) no-repeat; }
.ui-icon-ybi-share:after { background: url(../img/share.png) no-repeat; }
.ui-icon-ybi-stats-1:after { background: url(../img/ecsclaim.png) no-repeat; }
.ui-icon-ybi-stats-2:after { background: url(../img/arrowup.png) no-repeat; }
.ui-icon-ybi-stats-3:after { background: url(../img/flame.png) no-repeat; }
.ui-icon-ybi-stepforward:after { background: url(../img/stepforward.png) no-repeat; }
.ui-icon-ybi-carat:after { background: url(../img/carat.png) no-repeat; }
.ui-icon-loading { background: url(../img/ajax-loader.gif); background-size: 2.875em 2.875em; }

.ui-btn-ybi.ui-icon-ybi-share {
  width: 29px !important;
  height: 26px !important;
}
.ui-btn-ybi.ui-icon-ybi-share:after {
  width: 29px;
  height: 26px;
  margin-left: -14.5px;
  margin-top: -13px;
}
.ui-btn-ybi.ui-icon-ybi-stats-1.ui-btn-icon-left {
  padding-left: 20px;
  height: 18px;
}
.ui-btn-ybi.ui-icon-ybi-stats-2.ui-btn-icon-left,
.ui-btn-ybi.ui-icon-ybi-stats-3.ui-btn-icon-left {
  padding-left: 24px;
  height: 16px;
}
.ui-btn-ybi.ui-icon-ybi-stats-1:after {
  width: 6px;
  height: 19px;
  margin-left: -2.5px;
  margin-top: -9px;
}
.ui-btn-ybi.ui-icon-ybi-stats-2:after,
.ui-btn-ybi.ui-icon-ybi-stats-3:after {
  width: 15px;
  height: 16px;
  margin-left: -7.5px;
  margin-top: -8px;
}
.ui-btn-ybi.ui-icon-ybi-stepforward:after {
  width: 13px;
  height: 20px;
  margin-top: -10px;
}

.ui-icon-ybi-delete,
.ui-icon-delete {
  width: 12px;
  height: 12px;
}
.ui-controlgroup-controls .ui-icon-delete {
  width: 12px !important;
  height: 12px !important;
  padding: 0 !important;
}
.ui-icon-ybi-delete:after,
.ui-icon-delete:after {
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
}
.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear,
.ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
  margin: -6px .4em 0 0;
}

.ui-icon-ybi-carat:after {
  width: 12px;
  height: 8px;
  margin-top: -4px;
  margin-left: -6px;
}


/**
 * Popup
 */
.ui-popup-screen {
  background: #555;
}
.ui-popup {
  background-color: #E0FFD3;
  color: #16635D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-popup .ui-header {
  border-color: #3BB2A7;
}
.ui-popup .ui-header .ui-title {
  padding: .7em 1em;
  margin: 0;
  text-align: left;
  font: normal 1.143em open_sansbold;
  color: #3BB2A7;
}
#popupIdeaFilter {
  top: -21px;
  left: 3px;
}
#popupIdeaFilter .ui-radio label {
  background-color: #E0FFD3;
  padding: .5em 4em .5em 0;
}
#popupIdeaFilter .ui-radio label:after {
  display: none;
  right: 0;
  width: 16px;
  height: 14px;
  margin-top: -7px;
  background: url(../img/tick.png) 50% 50% no-repeat;
}
#popupIdeaFilter .ui-radio label.ui-radio-on:after {
  display: block;
}


/**
 * Accordion
 */
.accordion {
  margin: 0;
}
.accordion .ui-collapsible {
  margin-bottom: 1em;
}
.accordion .ui-collapsible-heading {
  padding: 0.714em 1em;
  color: #85C9AD;
  font: normal 1em open_sansbold;
  background-color: #16635D;
}
.accordion .ui-collapsible-heading .ui-btn {
  padding: 0;
  font-size: 1em;
  text-decoration: none;
  color: #85C9AD;
}
.accordion .ui-collapsible-heading .ui-li-count {
  right: 0;
  border: none;
  padding: 0;
}
.accordion .ui-collapsible-content {
  padding: 1em;
  font: normal 1.071em open_sansregular;
  border: none;
}
.accordion .ui-collapsible-content ol.ui-listview {
  margin-top: 0;
  margin-bottom: 0;
}
.accordion .ui-collapsible-content ol.ui-listview li {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  text-overflow: inherit;
  overflow: visible;
  white-space: normal;
}


/** 
 * Вход/Регистрация
 */
.ui-page#signin-signup #header .logo {
  margin: 60px 0 30px; 
}
.ui-page#signin-signup #header,
.ui-page#signin-signup #content,
.ui-page#signin-signup #footer {
  padding-left: 1.429em;
  padding-right: 1.429em;
}
#signin-form .form-item-signin-email {
  margin-top: 0;
}
#signup-form .form-item-signup-name {
  margin-top: 0;
}
#signin-form .ui-input-btn,
#signup-form .ui-input-btn {
  margin: 30px auto;
}


/** 
 * ИДЕИ, Список
 */
#idea-list-accordion .ui-collapsible-content .idea-item:after {
	content:" ";
	display: block;
	width:100%;
	position: relative;
	margin: 1.143em 0 1em;
	height: 1px;
	background: -moz-linear-gradient(left, #3BB2A7 0%, #feffff 100%);
	background: -webkit-linear-gradient(left, #3BB2A7 0%, #feffff 100%);
	background: linear-gradient(left, #3BB2A7 0%, #feffff 100%);
}
#idea-list-accordion .ui-collapsible-content .idea-item:last-child:after {
  display: none;
}
#idea-list-accordion .ui-collapsible-content .idea-title {
  position: relative;
  margin-bottom: 1em;
}
#idea-list-accordion .ui-collapsible-content .idea-link {
  display: block;
  padding-right: 2em;
  font: normal 1.071em open_sansregular;
  text-decoration: none;
}
#idea-list-accordion .ui-collapsible-content .idea-edit {
  position: absolute;
  right: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-top: -13px;
  background: url(../img/edit.png) 50% 50% no-repeat;
}
#idea-list-accordion .ui-collapsible-content ul.progress {
  margin-bottom: 1em;
}
#idea-list-accordion .ui-collapsible-content ul.progress li {
	display: inline-block;
	width:	20px;
	height:	20px;
	background: #606D68;
	margin-right: 6px;
	-webkit-border-radius:100%;
          border-radius:100%;
}
#idea-list-accordion .ui-collapsible-content ul.progress li.completed{
	background: #85C9AD;
}
#idea-list-accordion .ui-collapsible-content ul.stats {
	margin-left: 6px;
	font: normal 1em open_sansbold;
}
#idea-list-accordion .ui-collapsible-content ul.stats li {
	display: inline;
}
#idea-list-accordion .ui-collapsible-content ul.stats li:before {
	content: url(../img/arrowup.png);
	margin-left:1em;
	position: relative;
	top:3px;
	right:6px;
}
#idea-list-accordion .ui-collapsible-content ul.stats li:first-child:before {
	content: url(../img/ecsclaim.png);
	margin-left:0px;
	top: 4px;
}
#idea-list-accordion .ui-collapsible-content ul.stats li:last-child:before {
	content: url(../img/flame.png);
}


/** 
 * ИДЕИ, страница одной идеи
 */
#idea-single-accordion .ui-collapsible-content .progress {
	text-align:center;
	width:100%;
}
#idea-single-accordion .ui-collapsible-content .progress:after {
	clear:both;
	display:block;
	content:'';
}
#idea-single-accordion .ui-collapsible-content .progress li {
  position: relative;
	display: inline-block;
	color: #474742;
	font: normal 1.143em/1 open_sansbold;
	width: 30px;
	height: 30px;
	background: #85C9AD;
	-webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	padding-top: 6px;
	margin-right: 1.8em;
	text-align: center;
}
#idea-single-accordion .ui-collapsible-content .progress li:last-child {
  margin-right: 0;
}
#idea-single-accordion .ui-collapsible-content .progress li.current {
	/*background-color: #00ffa6;*/
}
#idea-single-accordion .ui-collapsible-content .progress li.completed {
	/*background-color: #c3f4e0;*/
}
#idea-single-accordion .ui-collapsible-content .progress li.completed:after {
	content: url("../img/greentick.png");
	position: absolute;
	left: 14px;
	top: 18px;
  width: 20px;
  height: 16px;
}
#idea-single-accordion .ui-collapsible-content .progress-info {
  position: relative;
  padding-right: 30px;
  margin-top: 1em;
  font-size: 1.071em;
  line-height: 1.2;
}
#idea-single-accordion .ui-collapsible-content .progress-info a.ui-btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12.5px;
}
#idea-single-accordion .ui-collapsible-content ul.stats {
  text-align:center;
  overflow: hidden;
}
#idea-single-accordion .ui-collapsible-content ul.stats:after {
	clear: both;
	display: block;
	content: '';
}
#idea-single-accordion .ui-collapsible-content ul.stats li {
	display: block;
	float: left;
  text-align: center;
}
#idea-single-accordion .ui-collapsible-content ul.stats li.stats-1 {
	width: 33%;
}
#idea-single-accordion .ui-collapsible-content ul.stats li.stats-2 {
	width: 29%;
}
#idea-single-accordion .ui-collapsible-content ul.stats li.stats-3 {
	width: 38%;
}
#idea-single-accordion .ui-collapsible-content ul.stats li .stats-value {
	font: normal 1em/1 open_sanslight;
}
#idea-single-accordion .ui-collapsible-content ul.stats li .stats-desc {
  margin-top: 4px;
	font: normal 0.929em open_sanslight;
}
#idea-single .links {
  position: relative;
  padding-right: 35px;
}
#idea-single .links .ui-link {
  padding: 1em 1.3em;
  background: #3BB2A7;
  font:normal 1.071em/1 open_sansbold;
  color: #C3F4E0;
  margin-right: 1em;
  text-decoration: none;
  -webkit-border-radius: .3em;
          border-radius: .3em;
}
#idea-single .links .ui-link:last-child {
  margin-right: 0;
}
#idea-single .links .ui-btn {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -13px;
}


/** 
 * ИДЕИ, добавление идеи
 */
#ideaaddform-wrap {}
#ideaaddform {}
#ideaaddform .form-item {}
#ideaaddform .form-item .ui-input-text {}


/**
 * Проработка идеи, шаг 1
 */
#idea-step-1 .ui-collapsible-content > div.item {
  margin-bottom: 2.5em;
}
#idea-step-1 .ui-collapsible-content > div.item:last-child {
  margin-bottom: 0;
}
#idea-step-1 .ui-slider {
  height: 4px;
  margin: 20px .5em 17px;
}
#idea-step-1 .ui-slider input {
  display: none;
}
#idea-step-1 .ui-slider .ui-slider-track {
  top: 0;
  height: 4px;
  margin: 0;
  border: none;
  background: -moz-linear-gradient(left, #3BB2A7 0%, #feffff 100%);
  background: -webkit-linear-gradient(left, #3BB2A7 0%, #feffff 100%);
  background: linear-gradient(left, #3BB2A7 0%, #feffff 100%);
}
#idea-step-1 .ui-slider .ui-slider-track .ui-slider-handle {
	height: 12px;
	width: 12px;
  margin: -18px 0 0 -18px;
	background: #474742;
	border:12px solid #fff;
	font: normal 1em/1 open_sansbold;
	-webkit-border-radius:24px;
          border-radius:24px;
	-webkit-box-shadow: 0 5px 10px #474742;
          box-shadow: 0 5px 10px #474742;
}
#idea-step-1 ul.ruler {
  margin: -7px .5em 17px;
}
#idea-step-1 ul.ruler:after {
	clear: both;
	display: block;
	content: '';
}
#idea-step-1 ul.ruler li {
  position: relative;
	float: left;
	height: 30px;
	width: 10%;
	background: transparent;
	font: normal 1em open_sansbold;
	color: #85C9AD;
  border-right: 1px solid #85C9AD;
  border-left: 1px solid #85C9AD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#idea-step-1 ul.ruler li:first-child{
  border-left-width: 2px;
}
#idea-step-1 ul.ruler li:last-child{
  text-align: right;
  border-right-width: 2px
}
#idea-step-1 ul.ruler li:first-child:after{
	content:'0';
	position: relative;
	top: 30px;
  left: -5px;
}
#idea-step-1 ul.ruler li:last-child:after{
	content:'10';
	position: relative;
	top: 30px;
  right: -9px;
}


/**
 * Проработка идеи, шаг 2
 */
#idea-step-2 .form-desc {
  margin-bottom: 1em;
}
#idea-step-2 .ui-field-contain {
  padding: .2em 0;
}
#idea-step-2 .ui-field-contain > label {
  width: 100%;
  padding: .1em 4em .1em 0;
  margin: 0;
  font: normal 1em open_sansbold;
  color: #16635D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#idea-step-2 .ui-field-contain > .ui-input-text {
  position: absolute;
  top: 50%;
  right: 0;
  width: 3.5em;
  margin-top: -1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#idea-step-2 .ui-field-contain > .ui-input-text input {
  min-height: 2em;
  margin: 0;
  padding: .3em .1em .3em .3em;
  font: normal 1em open_sansregular;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/**
 * Проработка идеи, шаг 3
 */
#idea-step-3-accordion {
  margin-top: 2em;
}


/**
 * Проработка идеи, шаг 4
 */
#idea-step-4 .real-unreal-status label {
  padding: 1em;
  text-align: center;
  font: normal 1em/1 open_sansregular;
  color: #16635D;
  background: #85C9AD;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}
#idea-step-4 .real-unreal-status label:after {
  display: none;
  right: 0;
  width: 16px;
  height: 14px;
  margin-top: -7px;
  background: url(../img/tick.png) 50% 50% no-repeat;
}
#idea-step-4 .real-unreal-status label.ui-radio-on:after {
  display: block;
}
#idea-step-4 .real-unreal-status .ui-block-a .ui-radio {
  margin-left: 0;
}
#idea-step-4 .real-unreal-status .ui-block-b .ui-radio {
  margin-right: 0;
}



div#nextstep{
	/*background: #212121;
	padding-top: 32px;
	padding-bottom:20px;*/
  margin: 1em 0;
}
div#nextstep a{
	display: block;
	margin:auto;
  padding: 5px 0 10px;
	color:#212121;
	text-align: center;
	background: #00ffa6;
	font: normal 1.143em open_sansbold;
	-webkit-border-radius: 6px;
          border-radius: 6px;
}
div#nextstep a img{
	position: relative;
	top:5px;
	left:50px;
}


/* УСЛУГИ */
div#accordion.services {
	padding: 0 25px 45px 29px;
		height:100%;
}

div#accordion.services h4 {
	width:60%;
	font: normal 30px open_sansregular;
	color: #00ffa6;
	margin-bottom:45px;
}

div#accordion.services ul#allservices {
	min-height:760px;
	height:100%;
	display: block;
}

div#accordion.services ul#allservices li {
	display: block;
	background: #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	margin:auto;
	position:absolute;
	left:5%;
	right:5%;
}

/*Позиционируем элементы относительно друг друга*/

div#accordion.services ul#allservices li:nth-child(2n){background: #ebfff9;}

ul#allservices li:first-child{z-index:5; width:90%; min-height:520px; top:70%;}
ul#allservices li:nth-child(2){z-index:4; width:80%; min-height:600px; top:64%}
ul#allservices li:nth-child(3){z-index:3; width:70%; min-height:680px; top:56%;}
ul#allservices li:nth-child(4){z-index:2; width:65%; min-height:720px; top:53%;}
ul#allservices li:last-child{z-index:1; width:60%; min-height: 740px; top:52%;}

div#accordion.services div#activecard {padding: 55px 50px 30px; color:#000;}

div#accordion.services div#activecard h4{
	color: #000;
	width: 100%;
	font: normal 35px open_sansbold;
	margin-bottom: 30px
}

div#accordion.services div#activecard p {
	color: #000;
	font: normal 25px open_sanslight;
	margin-bottom:35px;
}


div#accordion.services div#activecard span {
	position: relative;
	top:20px;
	color: #212121;
	font: normal 35px open_sansbold;
}

div#accordion.services div#activecard a{
	display:inline-block;
	color: #212121;
	font: normal 35px open_sansbold;
	background: #00ffa6;
	padding: 20px 49px;
	float:right;
	position: relative;
	left:-10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-right: -20px;
	margin-left: -20px;
}

/*Заказ бизнес-плана*/

div#rocket {
	width:100%;
	min-height: 388px;
	background: url(../img/rocket.png) no-repeat center center;
	margin-bottom: 20px;
}

div#header h3#orderplanhead {
	display: block;
	width:60%;
}

div#orderplan form{
	margin-top: 100px;
	margin-bottom: 50px;
}
div#orderplan form input {
	width: 100%;
	margin: 0 auto 10px;
	padding: 0.714em 0.857em;
	background: #ebfff9;
	/*border:1px solid #fff;*/
	font: normal 1em open_sansregular;
	color: #313834;
	-webkit-border-radius: 6px;
          border-radius: 6px;
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
}
div#orderplan form .ui-input-has-clear input {
  padding-right: 1.5em;
}
div#orderplan p {
	font: normal 27px open_sanslight;
	color:#ebfff9;
	margin-bottom: 200px;
}

div#orderplan p a{
	font: normal 27px open_sanslight;
	color:#00ffa6
}

div#orderplan form a{
	float: right;
	position:relative;
	top: -60px;
	left: -10px;
	z-index: -10;
}

div#orderplan a#makeorder{
	display:block;
	text-align: center;
	color: #212121;
	font: normal 35px open_sansbold;
	margin-bottom: 110px;
	background: #00ffa6;
	padding: 20px 59px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div#orderplan h3#ordersuccess {
	font: normal 35px open_sansbold;
	display: block;
	color: #00ffa6;
}

div#orderplan h3#ordersuccess + p{
	margin: 80px 0;
}

/*Просматриваем истории*/
div#accordion.stories .category:last-child{
	margin-bottom:100px;
}

div#accordion.stories span a{
	margin-top:9px;
	margin-right: -5px;
	display: block;
	float:right;
	width:25px;
	height: 25px;
	background: url(../img/stars.png);
}

div#accordion.stories span.fav a{
	background: url(../img/stars.png) 0 -75px;
}


div#accordion.stories p {
	padding: 30px 25px 30px 29px;
	font: normal 30px open_sansregular;
}

div#accordion.stories p a{
	float:right;
	margin-top:10px;
	color: #fff;
}

div#accordion.stories p a:last-child{
	float:none;
	display: block
	margin-top:0;
}


div#accordion.stories p a:last-child{
	float:none;
	display: block
	margin-top:0;
}

div#accordion.stories ul#morenav {
	margin-left: 29px;
}

div#accordion.stories ul#morenav li{
	display: inline;
	margin-right: 20px;
}


/*ДЕЛИМСЯ ИСТОРИЯМИ*/

div#sharestory.stories {
	padding: 215px 25px 30px 29px;
}

div#sharestory.stories p, div#shareblock h4 {
	font: normal 24px open_sanslight;
	color: #c3f4e0;
}

div#sharestory.stories p.signature {
	margin-top:45px;
	margin-bottom: 110px;
	color: #606d68;
}

div#sharestory.stories p.signature:before {
	content: url(../img/quotes.png);
	float:right;
}

div#shareblock {
	margin: auto;
	text-align:center;
}

div#shareblock h4 {
	margin:0 auto 40px;
	color: #00ffa6;
	width: 40%;
}

div#shareblock ul li {
	display: inline;
	margin:0 10px;
}




@media all and (max-width: 639px){
	div#footer {padding: 8px 25px 8px;}
	div#footer ul li a {margin-right: 15px;}
	div#footer ul li a#other {margin-right: 0;}
}

@media all and (max-width: 534px){
	div#footer {padding: 8px 5px 8px;}
	div#footer ul li a {margin-right: 5px;}
	div#footer ul li a#other {margin-right: 0;}
}