/**
 * FONTS
 */
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic.woff2') format('woff2'), url('../fonts/opensans-bolditalic.woff') format('woff'), url('../fonts/opensans-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.woff2') format('woff2'), url('../fonts/opensans-extrabold.woff') format('woff'), url('../fonts/opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic.woff2') format('woff2'), url('../fonts/opensans-extrabolditalic.woff') format('woff'), url('../fonts/opensans-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic.woff2') format('woff2'), url('../fonts/opensans-italic.woff') format('woff'), url('../fonts/opensans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.woff2') format('woff2'), url('../fonts/opensans-light.woff') format('woff'), url('../fonts/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic.woff2') format('woff2'), url('../fonts/opensans-lightitalic.woff') format('woff'), url('../fonts/opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic.woff2') format('woff2'), url('../fonts/opensans-semibolditalic.woff') format('woff'), url('../fonts/opensans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/**
 * RESET
 */
/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;/* + */
  -webkit-box-sizing: border-box;/* + */
          box-sizing: border-box;/* + */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  outline: none;
}
body {
  font: normal normal 1em/1 "open_sansregular", sans-serif;
  -webkit-tap-highlight-color: transparent;/* + */
  -webkit-font-smoothing: antialiased;/* + */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 *  1. Общие стили
 */
a {
  display: inline-block;
  text-decoration: underline;
  color: #cde5d7;
}
a:hover,
a:focus {
  text-decoration: none;
}
.ui-page {
	background-color: #262827;
	/*background: -webkit-radial-gradient(50% 50%, circle closest-corner, #303332, #000);
	background: -moz-radial-gradient(50% 50%, circle closest-corner, #303332, #000);*/
}
#content {
  padding: 0 1em;
}
#header {
  padding-left: 1em;
  padding-right: 1em;
  border: 0;
  color:#fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#header .logo {
  margin: 15px 0; 
  color: #fff;
  text-align: center;
}
#header .logo img {
  display: inline-block;
}
#header #page-title {
	display: block;
  min-height: 0;
  margin: 1em 0;
  padding: 0;
  text-align: left;
	font: bold 1.286em open_sansbold;
	color: #00ffa6;
}
div#header p {
	font: normal 1em open_sansregular;
	color:#00ffa6;
  margin-top: -1em;
  margin-bottom: 1em;
}
#header nav ul li {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-left:10px;
	float: right;
}
#header nav ul li:last-child{
	margin-left:0;
}
#footer {
  padding: .5em 1em;
  border: 0;
	background-color: #212121;
  color:#fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #ebfff9;
}

/*Футер меню*/
div#footer ul li {
	display: inline;
}
div#footer ul li a {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 39px;
	background: url(../img/menu.png);
}
div#footer ul li a#other {
	width:42px;
	margin-right: 0;
	float:right;
}



/** 
 * 2. Стиль форм
 */

.tabs__caption {
  cursor: pointer;
}
.tabs__caption:before,
.tabs__caption:after {
  display: table; 
  content: ' ';
}
.tabs__caption:after {
  clear: both;
}
.tabs__item {
  float: left;
  width: 50%;
  text-align: center;
  color: #636b67;
  border-radius: 6px 6px 0 0;
  background: #282928;
}
.tabs__item a {
  padding-bottom: 10px;
  line-height: 36px;
  color: #cde5d7;
  text-decoration: none;
}
.tabs__item_active {
  color: #87ba92; 
  background: #313834;
}
.tabs__item_active a {
  color: #00ffa6;
}
.tabs__content {
  display: none;
  position: relative;
  top: -10px;
}
.tabs__content_active {
  display: block;
}
.form__field-wrap {
  overflow: hidden;
  width: 100%;
  height: 40px;
  margin-bottom: 10px; 
  padding-right: 50px;
  border-radius: 6px;
  background-color: #ebfff9;
}
.form__field-wrap:before,
.form__field-wrap:after {
  display: table;
  content: ' ';
}
.form__field-wrap:after {
  clear: both;
}
.form__field-wrap > label {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 -50px 0 0;
}
.form__field-wrap .ui-input-text,
.ui-input-text {
  padding: 0;
  margin: 0;
  border: 0;
}
.form__field-wrap input {
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding: 0 0 0 30px;
  border: none;
  background: none;
}
.form__message-icon-wrap {
  position: relative;
  right: -50px; 
  float: right;
  width: 50px;
  height: 40px;
}
.form__description {
  text-align: center;
  color: #cde5d7;
}
.form__license {
  margin-right: 5px;
}
.form__conf {
  margin-left: 5px;
}
.btn {
  width: 100%;
  height: 50px;
  color: #292a29; 
  border-radius: 6px;
  background: #00ffa6;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
.btn_singup,
.btn_singin {
  margin: 30px auto;
}


/** 
 * 3. Вход/Регистрация
 */
.ui-page#signin-signup #header .logo {
  margin: 60px 0 30px; 
}
.ui-page#signin-signup #header,
.ui-page#signin-signup #content,
.ui-page#signin-signup #footer {
  padding-left: 1.429em;
  padding-right: 1.429em;
}


/** 
 * ИДЕИ
 */
#accordion {color:white;}
.accordion-toggle {cursor:pointer;}
.accordion-content {display:none;}
.accordion-content.default {display: block;}
.accordion-content.default.podrobno {padding:35px 25px 40px 29px;}


#accordion h3 {
  margin-left: -1em;
  margin-right: -1em;
	padding: 0.714em 1em;
	color:#c3f4e0;
	font: bold 1em open_sansbold;
	background: #313834;
}

#accordion div.category {
	margin-bottom: 1.143em;
}

#accordion h3 span {
	float:right;
}

#accordion h3.opened {
	background: #606d68;
}

#accordion .accordion-content h4 {
	margin: 1.143em 0;
}
#accordion .accordion-content h4 a{
	display: block;
	padding-right: 2em;
	font: normal 1.071em open_sansregular;
	color: #00ffa6;
}
#accordion .accordion-content h4 a.edit{
	display: block;
	float: right;
	height: 25px;
	width: 25px;
	margin:0;
	padding:0;
}
#accordion .accordion-content div {
	margin-bottom: 1.143em;
}
#accordion .accordion-content div:after{
	content:" ";
	display: block;
	width:100%;
	position: relative;
	top: 1.143em;
	margin-bottom: 2.3em;
	height: 1px;
	background: -moz-linear-gradient(left, #01ffa6 0%, #feffff 100%);
	background: -webkit-linear-gradient(left, #01ffa6 0%, #feffff 100%);
	background: linear-gradient(left, #01ffa6 0%, #feffff 100%);
}

#accordion .accordion-content div:last-child:after{
	content:" ";
	display: none;
}

#accordion .accordion-content div:last-child {
	border: none;
}

#accordion .accordion-content ul.progress li{
	display: inline-block;
	width:	20px;
	height:	20px;
	background: #606d68;
	margin-right: 6px;
	-webkit-border-radius:100%;
          border-radius:100%;
}

#accordion .accordion-content ul.progress li.completed{
	background: #c3f4e0;
}
#accordion .accordion-content ul.stats {
	margin-top:1em;
	margin-left: 6px;
	font: bold 1em open_sansbold;
	color: #ebfff9;
}

#accordion .accordion-content ul.stats li {
	display: inline;
}

#accordion .accordion-content ul.stats li:before {
	content: url(../img/arrowup.png);
	margin-left:1em;
	position: relative;
	top:3px;
	right:6px;
}

#accordion .accordion-content ul.stats li:first-child:before {
	content: url(../img/ecsclaim.png);
	margin-left:0px;
	top: 4px;
}

#accordion .accordion-content ul.stats li:last-child:before {
	content: url(../img/flame.png);
}

/*ФИЛЬТРУЕМ ИДЕИ*/
div#idealist {
	padding: 120px 25px 121px 29px;
	text-align: center;
}

div#idealist ul li {
	margin-bottom: 69px;
	font: normal 30px open_sansregular;
	color: #fff;
}

div#idealist ul li.checked {color: #00ffa6; margin-left:27px;}

div#idealist ul li.checked:after {
	content: url(../img/tick.png);
	float:right;
}

/* Добавляем идеи */
div#ideaaddform, div#orderplan {
}
div#ideaaddform a{
	float: right;
	position:relative;
	top: -85px;
	left: -10px;
	z-index: -10;
}

div#ideaaddform textarea+a{
	top: -195px;
	left: -10px;
}

div#ideaaddform h4 {
	color: #c3f4e0;
	font: bold 1.143em open_sansbold;
	margin-bottom: 10px;
}

div#ideaaddform h4:before{
	content:" ";
	display: block;
	width:100%;
	position: relative;
	margin-bottom: 1.143em;
	height: 1px;
	background: -moz-linear-gradient(left, #01ffa6 0%, #feffff 100%);
	background: -webkit-linear-gradient(left, #01ffa6 0%, #feffff 100%);
	background: linear-gradient(left, #01ffa6 0%, #feffff 100%);
}

div#orderplan form input,
div#ideaaddform form input,
div#ideaaddform form textarea {
	width: 100%;
	margin: 0 auto 10px;
	padding: 0.714em 0.857em;
	background: #ebfff9;
	border:1px solid #fff;
	font: normal 1em open_sansregular;
	color: #313834;
	-webkit-border-radius: 6px;
          border-radius: 6px;
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div#ideaaddform textarea {
	resize: none;
}

div#ideaaddform form::-webkit-input-placeholder {font: normal 27px open_sansregular; color: #606d68;}
div#ideaaddform form:-moz-placeholder {font: normal 27px open_sansregular; color: #606d68;}
div#ideaaddform form::-moz-placeholder {font: normal 27px open_sansregular; color: #606d68;}
div#ideaaddform form:-ms-input-placeholder {font: normal 27px open_sansregular; color: #606d68;}

/*Инфо об идее*/
.accordion-content.podrobno ul.steps {
	text-align:center;
	width:100%;
	margin:auto;
}

.accordion-content.podrobno ul.steps li{
	display:inline-block;
	color: #212121;
	font: bold 28px open_sansbold;
	width:56px;
	height: 48px;
	background: #606d68;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	padding-top:8px;
	margin-right:10px;
	text-align:center;
}

.accordion-content.podrobno ul.steps li.current{
	background: #00ffa6;
}

.accordion-content.podrobno ul.steps li.completed{
	background: #c3f4e0;
	padding-left:19px;
	width: 37px;
}

.accordion-content.podrobno ul.steps li.completed:after {
	content: url(../img/greentick.png);
	position: relative;
	margin-left:-15px;
	left:-5px;
	top:2px;
}


.accordion-content.podrobno ul.steps+p{
	padding-top: 49px;
}

.accordion-content.podrobno a{
	float:right;
	padding-top:20px;
}

.accordion-content.podrobno.realsteps {
	overflow: hidden;
}

.accordion-content.podrobno.realsteps p {
	color: #00ffa6;
	font: normal 28px open_sansregular;
}

.accordion-content.podrobno ol{
	font: normal 30px open_sansregular;
	list-style-type: decimal;
	margin-left:36px;
}

.accordion-content.podrobno p {font: normal 30px open_sansregular;}

#accordion .accordion-content.podrobno ul.stats {text-align:center; overflow: hidden; margin-top:0px; margin-left: 0px;}

.accordion-content.podrobno ul.stats li {
	display:block;
	float:left;
	width:33%;
}


.accordion-content.podrobno ul.stats li:first-child {
	position: relative;
	top:-6px;
}

.accordion-content.podrobno ul.stats li span{
	font: normal 20px open_sanslight;
}

ul#podrobno-links{
	padding-right:22px;
	padding-left:15px;
	display: block;
	background: #212121;
	padding-bottom: 50px;
	padding-top:40px;
}

ul#podrobno-links li {
	display: inline-block

}
ul#podrobno-links li a{
	font:bold 35px open_sansbold;
	color:#c3f4e0;
	background: #313834;
	padding:20px 27px;
	margin-right:30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


ul#podrobno-links li:first-child a{
	padding:20px 40px;
}

ul#podrobno-links li:last-child {
	float:right;
}

ul#podrobno-links li:last-child a{
	background: none;
	margin-right:0;
	padding:0;
	position: relative;
}

/*Проработка идеи*/
div#scales {
  /*overflow: hidden;*/
}

div#scales h3 {
	display:block;
	margin: 0 -1em 1em -1em;
	padding: 0.714em 1em;
	background: #313834;
	font: bold 1em open_sansbold;
	color: #c3f4e0;
}

#profit, #success, #spros {
	margin: 0;
	width: 100%;
}
div.ui-slider {
  width: 98%;
  height: 2px;
  margin: 35px auto 0;
}
div.ui-slider .ui-slider-track,
.ui-slider-horizontal {
  top: 0;
  height: 2px;
  margin: 0 -1px;
  background: -moz-linear-gradient(left, #01ffa6 0%, #feffff 100%);
  background: -webkit-linear-gradient(left, #01ffa6 0%, #feffff 100%);
  background: linear-gradient(left, #01ffa6 0%, #feffff 100%);
  border: none;
}
div.ui-slider .ui-slider-track .ui-slider-handle,
span.ui-slider-handle {
	/*position: relative;*/
	top:-3px;
	height: 14px;
	width: 14px;
	background: #000;
	border:12px solid #fff;
	font: bold 1em open_sansbold;
	-webkit-border-radius:24px;
          border-radius:24px;
	-webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
}
span.ui-slider-handle.notemptyslider {
	overflow: visible;
	background: none;
	top:-45px;
	border: none;
}
span.ui-slider-handle.notemptyslider:before {
	content:url(../img/circle90.png);
	position:relative;
	left:-23px;
}
span.ui-slider-handle p{
	position: relative;
	top:-82px;
	left:10px;
}

ul.ruler {
	margin-top: 5px;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}
ul.ruler li{
	display: inline-block;
	height:30px;
	width:2px;
	background: #afdac9;
	margin-right:8%;
}
ul.ruler li:first-child{
	position:relative;
	top:-15px;
}
ul.ruler li:last-child{
	position:relative;
	top:-15px;
	margin-right:0;
}
ul.ruler li:first-child:after{
	content:'0';
	position: relative;
	top: 30px;
	font: bold 1em open_sansbold;
	color: #c3f4e0;
}
ul.ruler li:last-child:after{
	content:'10';
	position: relative;
	top: 30px;
	right:1em;
	font: bold 1em open_sansbold;
	color: #c3f4e0;
}

div#nextstep{
	/*background: #212121;
	padding-top: 32px;
	padding-bottom:20px;*/
  margin: 1em 0;
}
div#nextstep a{
	display: block;
	margin:auto;
  padding: 5px 0 10px;
	color:#212121;
	text-align: center;
	background: #00ffa6;
	font: bold 1.143em open_sansbold;
	-webkit-border-radius: 6px;
          border-radius: 6px;
}
div#nextstep a img{
	position: relative;
	top:5px;
	left:50px;
}


/* УСЛУГИ */
div#accordion.services {
	padding: 0 25px 45px 29px;
		height:100%;
}

div#accordion.services h4 {
	width:60%;
	font: normal 30px open_sansregular;
	color: #00ffa6;
	margin-bottom:45px;
}

div#accordion.services ul#allservices {
	min-height:760px;
	height:100%;
	display: block;
}

div#accordion.services ul#allservices li {
	display: block;
	background: #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	margin:auto;
	position:absolute;
	left:5%;
	right:5%;
}

/*Позиционируем элементы относительно друг друга*/

div#accordion.services ul#allservices li:nth-child(2n){background: #ebfff9;}

ul#allservices li:first-child{z-index:5; width:90%; min-height:520px; top:70%;}
ul#allservices li:nth-child(2){z-index:4; width:80%; min-height:600px; top:64%}
ul#allservices li:nth-child(3){z-index:3; width:70%; min-height:680px; top:56%;}
ul#allservices li:nth-child(4){z-index:2; width:65%; min-height:720px; top:53%;}
ul#allservices li:last-child{z-index:1; width:60%; min-height: 740px; top:52%;}

div#accordion.services div#activecard {padding: 55px 50px 30px; color:#000;}

div#accordion.services div#activecard h4{
	color: #000;
	width: 100%;
	font: bold 35px open_sansbold;
	margin-bottom: 30px
}

div#accordion.services div#activecard p {
	color: #000;
	font: lighter 25px open_sanslight;
	margin-bottom:35px;
}


div#accordion.services div#activecard span {
	position: relative;
	top:20px;
	color: #212121;
	font: bold 35px open_sansbold;
}

div#accordion.services div#activecard a{
	display:inline-block;
	color: #212121;
	font: bold 35px open_sansbold;
	background: #00ffa6;
	padding: 20px 49px;
	float:right;
	position: relative;
	left:-10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-right: -20px;
	margin-left: -20px;
}

/*Заказ бизнес-плана*/

div#rocket {
	width:100%;
	min-height: 388px;
	background: url(../img/rocket.png) no-repeat center center;
	margin-bottom: 20px;
}

div#header h3#orderplanhead {
	display: block;
	width:60%;
}

div#orderplan form{
	margin-top: 100px;
	margin-bottom: 50px;
}

div#orderplan p {
	font: normal 27px open_sanslight;
	color:#ebfff9;
	margin-bottom: 200px;
}

div#orderplan p a{
	font: normal 27px open_sanslight;
	color:#00ffa6
}

div#orderplan form a{
	float: right;
	position:relative;
	top: -60px;
	left: -10px;
	z-index: -10;
}

div#orderplan a#makeorder{
	display:block;
	text-align: center;
	color: #212121;
	font: bold 35px open_sansbold;
	margin-bottom: 110px;
	background: #00ffa6;
	padding: 20px 59px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div#orderplan h3#ordersuccess {
	font: bold 35px open_sansbold;
	display: block;
	color: #00ffa6;
}

div#orderplan h3#ordersuccess + p{
	margin: 80px 0;
}

/*Просматриваем истории*/
div#accordion.stories .category:last-child{
	margin-bottom:100px;
}

div#accordion.stories span a{
	margin-top:9px;
	margin-right: -5px;
	display: block;
	float:right;
	width:25px;
	height: 25px;
	background: url(../img/stars.png);
}

div#accordion.stories span.fav a{
	background: url(../img/stars.png) 0 -75px;
}


div#accordion.stories p {
	padding: 30px 25px 30px 29px;
	font: normal 30px open_sansregular;
}

div#accordion.stories p a{
	float:right;
	margin-top:10px;
	color: #fff;
}

div#accordion.stories p a:last-child{
	float:none;
	display: block
	margin-top:0;
}


div#accordion.stories p a:last-child{
	float:none;
	display: block
	margin-top:0;
}

div#accordion.stories ul#morenav {
	margin-left: 29px;
}

div#accordion.stories ul#morenav li{
	display: inline;
	margin-right: 20px;
}


/*ДЕЛИМСЯ ИСТОРИЯМИ*/

div#sharestory.stories {
	padding: 215px 25px 30px 29px;
}

div#sharestory.stories p, div#shareblock h4 {
	font: normal 24px open_sanslight;
	color: #c3f4e0;
}

div#sharestory.stories p.signature {
	margin-top:45px;
	margin-bottom: 110px;
	color: #606d68;
}

div#sharestory.stories p.signature:before {
	content: url(../img/quotes.png);
	float:right;
}

div#shareblock {
	margin: auto;
	text-align:center;
}

div#shareblock h4 {
	margin:0 auto 40px;
	color: #00ffa6;
	width: 40%;
}

div#shareblock ul li {
	display: inline;
	margin:0 10px;
}

div#footer ul li a#idea {background-position: 0 0;}
div#footer ul li a#book {background-position: -40px 0;}
div#footer ul li a#service {background-position: -80px 0;}
div#footer ul li a#story {background-position: -120px 0;}
div#footer ul li a#other {background-position: -160px 0;}

div#footer ul li a#idea.active {background-position: 0 40px;}
div#footer ul li a#book.active {background-position: -40px 40px;}
div#footer ul li a#service.active {background-position: -80px 40px;}
div#footer ul li a#story.active {background-position: -120px 40px;}
div#footer ul li a#other.active {background-position: -160px 40px;}


@media all and (max-width: 639px){
	div#footer {padding: 8px 25px 8px;}
	div#footer ul li a {margin-right: 15px;}
	div#footer ul li a#other {margin-right: 0;}
}

@media all and (max-width: 534px){
	div#footer {padding: 8px 5px 8px;}
	div#footer ul li a {margin-right: 5px;}
	div#footer ul li a#other {margin-right: 0;}
}